.d-block{
    height: 600px;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(71, 71, 71, 0.644);
    padding: 30px;
  }

h3{
    font-size: 20px;
}
h2{
    font-size: 50px;
    color: salmon;
}


.service-last-section{
    background-image: url("https://images.unsplash.com/photo-1522642888367-8d98750c243c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}